<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head> 
<body>
    <header class="bg-gray-300">
        <nav class="flex p-4 justify-center">
            <!-- logo -->
            <div class="logo w-1/5" >
                <a href="/" class="font-semibold text-xl px-4">Trang chủ</a>
            </div>
            <!-- navigation -->
            <div class="flex navigation w-2/5"  >
                <div class="px-4">
                    <a href="/products" class="font-semibold text-lg text-gray-600">Sản phẩm</a>
               </div>
                <!-- dropdown -->
                <div class="px-4 text-center mt-1">
                    <div x-data="{ dropdownOpen: false }" @click.outside="dropdownOpen = false" class="relative mb-8 inline-block text-left">
                      <button @click="dropdownOpen = !dropdownOpen" class="flex items-center rounded-md px-5 py-[13px] bg-gray-800 text-base font-medium text-white">
                        Danh mục
                        <span class="pl-4">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current">
                            <path d="M10 14.25C9.8125 14.25 9.65625 14.1875 9.5 14.0625L2.3125 7C2.03125 6.71875 2.03125 6.28125 2.3125 6C2.59375 5.71875 3.03125 5.71875 3.3125 6L10 12.5312L16.6875 5.9375C16.9688 5.65625 17.4063 5.65625 17.6875 5.9375C17.9687 6.21875 17.9687 6.65625 17.6875 6.9375L10.5 14C10.3437 14.1563 10.1875 14.25 10 14.25Z" />
                          </svg>
                        </span>
                      </button>
                  
                      <div :class="dropdownOpen ? 'top-full opacity-100 visible' : 'top-[110%] invisible opacity-0'" class="shadow-1 dark:shadow-box-dark absolute left-0 z-40 mt-2 w-full rounded-md bg-gray-900 dark:bg-dark-2 py-2 transition-all">
                        <a href="javascript:void(0)" class="block px-5 text-lg text-white hover:text-white">
                          Danh mục 1
                        </a>
                      </div>
                    </div>      
                  </div>
                  
                <div class="py-8 text-center">

                </div>
                    </div>
            <!-- icon -->
            <div class="flex justify-end  w-full" >
                <div class="px-4">
                    <a href="/cart" class="font-semibold text-lg text-gray-600"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="8" cy="21" r="1"/>
                        <circle cx="19" cy="21" r="1"/>
                        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                      </svg>
                      </a>
               </div>
                <div class="px-4">
                    <a href="/products" class="font-semibold text-lg text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
                          </svg>
                          
                    </a>
            </div>
                <div class="px-4">
                    <a href="/products" class="font-semibold text-lg text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                        <circle cx="12" cy="7" r="4"/>
                        </svg>
                    </a>
            </div>
            </div>

        </nav>
    </header>
</body>
</html>


    